{% load staticfiles %}
{% load i18n %}
{% load humanize %}
{% load extra_filters %}
{% load extra_tags %}
<div class="short-summary">
    <div class="counts">{% if like %}
        <div class="favorites">
            <span class="favorite-mark{% if question.like %} on{% endif %}"></span>
            <div class="item-count">{{question.like|intcomma}}</div>
        </div>
        {% endif %}
        <div class="votes">
            <div class="item-count">{{question.score}}</div>
            <div>{% trans "votes" %}</div>
        </div>
        <div {% if question.accepted_count %}title="{% trans "this question has an accepted answer" %}"{% endif %} class="status {% if question.accepted_count %}answered-accepted{% endif %} {% ifequal question.answer_count 0 %}unanswered{% endifequal %}{% ifnotequal question.answer_count 0 %}answered{% endifnotequal %}">
            <div class="item-count">{{question.answer_count}}</div>
            <div>{% trans "answers" %}</div>
        </div>
        <div class="views">
             <div class="item-count">{{question.view_amount|decorated_int|safe}}</div>
             <div>{% ifequal question.view_amount 1 %}{% trans "view" %}{% else %}{% trans "views" %}{% endifequal %}</div>
        </div>
    </div>

    <div class="question-summary-wrapper">
        <h2><a {% if not question_summary %}title="{{ question.summary }}"{% endif %} href="{{ question.get_absolute_url }}">{{question.headline}}</a></h2>
        {% if question_summary %}
        <div class="summary">
          {{ question.summary }}
        </div>
        {% endif %}
        <div class="userinfo">
            <span class="relativetime" title="{{question.published_time}}">{% diff_date question.published_time %}</span>
             {% if question.last_activity_by %}{% endif %}
             <p>{{ question.author }}</p>
         </div>

        <div class="tags">
            <a class="tag-link-{{ question.tag }}" href="{% url "tag_questions" question.tag|urlencode %}" title="{% trans "see questions tagged" %} '{{ question.tag }}'" rel="tag">{{ question.tag }}</a>
        </div>

    </div>

</div>